*{
    box-sizing: border-box;
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    margin: 0;
    padding: 0;
    line-height: 150%;

}

h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

#content{
    width: 960px;
    margin: 0 auto;
}

#header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#gl{
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 20px;
    width: 125px;
    height: 50px;
    position: relative;
    left: 0;
    text-align: center;
}

#about, #portfolio, #contact{
    margin: 20px;
    padding: 20px;
    float: right;
}

a{
    clear: both;
    color: #777777;
}

#profile_picture{
    width: 200px;
    height: 200px;
    margin-right: 20px;

}

p, #profile_picture{
    float: left;
}

p{
    width: 740px;
}

#footer{
    clear: both;
    width: 100%;
    background-color: #777777;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    margin: 0;
    bottom: 0;
    color: white;
    text-align: center;
    text-align: bottom;
    font-size: 12px;
}